## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
import random

#rand = random.randint(0,101)
sample_list_1 = []

while len(sample_list_1)< 80:
    rand = random.randint(0,101)
    
    if rand in sample_list_1:
        pass
    else:
        sample_list_1.append(rand)
        
print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [20]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []
i = 0
while i < 80:
    rand = random.randint(0,101)
    sample_list_2.append(rand)
    i += 1
print(sample_list_2)

[35, 27, 74, 41, 84, 29, 18, 71, 86, 11, 50, 90, 87, 72, 60, 41, 71, 81, 96, 36, 91, 3, 54, 17, 1, 69, 7, 86, 27, 33, 47, 33, 78, 79, 6, 62, 42, 79, 48, 23, 20, 19, 88, 90, 81, 69, 58, 34, 92, 93, 29, 34, 13, 84, 48, 60, 41, 71, 88, 28, 87, 18, 48, 37, 87, 97, 9, 76, 89, 98, 71, 38, 21, 85, 7, 44, 19, 99, 71, 68]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)
print("These are the values present in set 1 but not in set 2: ", set3 )

These are the values present in set 1 but not in set 2:  {2, 4, 5, 8, 10, 12, 14, 15, 16, 24, 25, 26, 31, 39, 46, 51, 52, 53, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 70, 75, 77, 83, 95, 100, 101}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)
print("These are the values present in set 2 but not in set 1: ", set4 )

These are the values present in set 2 but not in set 1:  {97, 35, 36, 99, 76, 47, 48, 21, 86, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [23]:
# Your code here
set5 = []
for i in set1:
    if i in set2:
        set5.append(i)
set5 = set(set5)
print("These are the values present in set 2 and in set 1: ", set5 )

These are the values present in set 2 and in set 1:  {1, 3, 6, 7, 9, 11, 13, 17, 18, 19, 20, 23, 27, 28, 33, 34, 37, 38, 41, 42, 44, 50, 54, 58, 60, 62, 68, 69, 71, 72, 74, 78, 79, 81, 84, 85, 87, 88, 89, 90, 91, 92, 93, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
#your code here
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))

80
35
45
True
True

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here
set6.update(set3, set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 31, 33, 34, 37, 38, 39, 41, 42, 44, 46, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 81, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 100, 101}

#### Check if `set1` and `set6` are equal.

In [13]:
# Your code here
if set1 == set6:
    print("Set1 and set6 are equal.")
else:
    print("Set1 and set6 are NOT equal.")

Set1 and set6 are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
# Your code here
if set2.issubset(set1) == True:
    print("set1 contains set2")
else:
    print("set1 does not contain set2")
    
if set3.issubset(set1) == True:
    print("set1 contains set3" )
else:
    print("set1 does not contain set3")

set1 does not contain set2
set1 contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
# Your code here
set3_4_5 = set3.union(set4, set5)
set1_2 = set1.union(set2)
if set3_4_5 == set1_2:
    print("The commbined sets are equal")
else:
    print("The combined sets are not equal")

The commbined sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code heres
set1 = list(set1)
set1.pop(0)
set1 = set(set1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 31, 33, 34, 37, 38, 39, 41, 42, 44, 46, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 81, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 98, 100, 101}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
set1 = list(set1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in set1:
    if i in list_to_remove:
        set1.pop(set1.index(i))
print(set1)

[2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 33, 34, 37, 38, 41, 42, 44, 46, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 77, 78, 81, 83, 84, 85, 87, 88, 90, 92, 93, 95, 96, 98, 100, 101]